﻿@model IEnumerable<OddestOddsPOC.Models.Entities.Odd>
<h2>1x2 Odds</h2>
@if (User.Identity.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table" id="oddsTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LeagueId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeTeamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwayTeamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTimeOfOdd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeOdd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwayOdd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrawOdd)
        </th>
        @if (User.Identity.IsAuthenticated)
        {
            <th></th>
        }
    </tr>

    @foreach (var item in Model)
            {
        <tr data-row-id="@item.Id">
            <td>
                @Html.DisplayFor(modelItem => item.League.LeagueName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeTeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwayTeamName)
            </td>
            <td data-role="timestamp">
                @Html.DisplayFor(modelItem => item.DateTimeOfOdd)
            </td>
            <td data-role="homeodds">
                @Html.DisplayFor(modelItem => item.HomeOdd)
            </td>
            <td data-role="awayodds">
                @Html.DisplayFor(modelItem => item.AwayOdd)
            </td>
            <td data-role="drawodds">
                @Html.DisplayFor(modelItem => item.DrawOdd)
            </td>
            @if (User.Identity.IsAuthenticated)
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            }
        </tr>
    }

</table>