﻿@model OddestOddsPOC.Models.Entities.Odd

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Odd</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LeagueId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeagueId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeTeamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeTeamName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AwayTeamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwayTeamName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTimeOfOdd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTimeOfOdd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeOdd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeOdd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AwayOdd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwayOdd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrawOdd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrawOdd)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
