﻿@model OddestOddsPOC.Models.ViewModels.HomePageViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Oddest Odds</h1>
    <p class="lead">Welcome to oddest odds, your source of the best odds on the net</p>
</div>

<div class="row">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="col-md-12">
            @Html.Partial("_OddsList", Model.Odds)
        </div>
    }
    else
    {
        <div class="col-md-8">
            @Html.Partial("_OddsList", Model.Odds)
        </div>
        <div class="col-md-4">
            @Html.Partial("_Login", Model.Login)
        </div>
    }
    <div id="conversation"></div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/ClientSocketScript.js")
}